body {
        margin: 0;
        background: url("../yellow_background.jpg");
      }

header {
    background: #BF9877;
    height: 100px;
    padding: 50px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
  font-family: verdana;
  font-size: 50px;
}

h2 {
  font-size: 40px;
  font-family: verdana;
}

article {
  padding: 10px;
  margin: 10px;
  background: #779DBF;
  padding: 50px;

}

ul {
  font-size: 25px;
  font-family: verdana;
}

ol {
  font-size: 25px;
  font-family: verdana;
}

p {
  font-size: 25px;
  font-family: verdana;
}

img {
  height: 30%;
  width: 30%;
  content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  flex: 200px;
}

div {
  font-color: white;
  color: white;
  padding: 20px;
}
